.navbar {
    background-color: pink;
    position:fixed;
    height: 15%;
    width: 100%;
    text-align: center;
}

.logo {
    display: flex;
    justify-content: center;
}


.room-list {
    
    color: white;
    font-weight: 800;
    
}

.new-room-button {
    
    position: absolute;
    right: 10px;
    top: 5px;
}

